<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Hodiny Master</title>
    </head>
        
    <body>
        <a href="/home">Back</a>
        <br>

        <form id="hodiny" name="hodiny" method="post">
            <label for="user">User</label>
            <select id="user" name="user">
                <% for(var i = 0; i < users.length; i++) { %>
                  <option value='<%= users[i] %>'><%= users[i] %></option>
                <% } %>
            </select>
            <label for="month">Select month</label>
            <input type="month" name="month" id="month" placeholder="Year-month ex. 2022-08">
            <input type="button" onclick="get_table()" value="Load">
          </form>

        

        <table id="table">

        </table>
    </body>

</html>

<script>

    
    const d = new Date();
    let month = d.getMonth() + 1;
    if(month < 10){
        month = "0" + month
    }   
    let year = d.getFullYear();
    document.hodiny.month.value = year + '-' + month;
    
    


    function get_table(){
        mnth = document.getElementById('month')
        username = document.getElementById("user")
    

    


        var xhttp = new window.XMLHttpRequest()
        xhttp.open("POST", "/load_hodiny", true)
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                table_load(this.response)
                }
            };
        
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        //xhttp.send(user)
        
        xhttp.send("month=" + mnth.value.toString() + "&username=" + username.value.toString())
    }




    function table_load(json_data = ""){
        
        if(json_data == ""){
            json_data = JSON.parse(document.getElementById('mydiv').dataset.test)
        }
        else{
            json_data = JSON.parse(json_data)
        }
        

        //document.getElementById("test").innerHTML = json_data
        
        
        

        

        try{
                var table = document.getElementById('table');

                var table_str = ""
                var json_len = Object.keys(json_data).length
                //document.getElementById("test").innerHTML = JSON.stringify(json_data[0].Datum)
                
                for(var i = 0; i <= json_len-1; i++){
                    var date = JSON.stringify(json_data[i].Datum)
                    date = date.split("T")
                    date = date[0]
                    date = date.split("-")
                    
                    //console.log(date[2])
                    date = new Date(parseInt(date[0].substring(1)),parseInt(date[1])-1, parseInt(date[2])+1)
                    
                    //console.log(date.getDay())
                    
                    if(json_data[i].Pohotovost){
                        table_str += "<tr class='pohotovost'>\n"
                    }
                    else{
                        table_str += "<tr>\n"
                    }
                    table_str += "<th> " + json_data[i].Pohotovost.toString() + "</th> \n"
                    table_str += "<th> " + date.getDate() + "-" + (parseInt(date.getMonth())+1).toString() + "-" + date.getFullYear() + " </th>\n"
                    if(date.getDay() === 0 && json_data[i].lokace == ""){
                        table_str += "<th> " + "00:00" + " - " + "00:00" + " </th>\n"
                        table_str += "<th> " + json_data[i].hodiny + "&emsp; (" + json_data[i].prescas + ") </th>\n"
                        table_str += "<th> " + "NE" + " </th>\n"
                    }

                    else if(date.getDay() === 6 && json_data[i].lokace == ""){
                        table_str += "<th> " + "00:00" + " - " + "00:00" + " </th>\n"
                        table_str += "<th> " + json_data[i].hodiny +"&emsp; (" + json_data[i].prescas + ") </th>\n"
                        table_str += "<th> " + "NE" + " </th>\n"

                    }
                    else{
                        table_str += "<th> " + json_data[i].od + " - " + json_data[i].do + " </th>\n"
                        table_str += "<th> " + json_data[i].hodiny + " &emsp; (" + json_data[i].prescas + ") </th>\n"
                        table_str += "<th> " + json_data[i].lokace + " </th>\n"
                    }
                    table_str += "<th> " + date.getDay() + " </th>\n"
                    table_str += "</tr>"
                }
                
                table.innerHTML = table_str
                

                

                var rIndex
                for(var i = 1; i < table.rows.length; i++)
                {
                    table.rows[i].onclick = function()
                    {
                        
                    };
                }
            }

            catch (error) {
                console.log(error)
            }
    }
</script>


<style>
    .button{
        border-color: black;
        color: Black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    table, th, td{
        border: 2px solid black;
        border-collapse: collapse;
    }
    table{
        width: 100%;
    }

    tr:hover{
        background-color: red;
    }
    .pohotovost{
        background-color: rgba(0, 255, 0, 0.5);
    }
</style>