<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Home</title>

    </head>


    <body>
            <p> Hello <%=user%> </p>
        <p>your level is: <%=level%></p>
        <form action="logout">
            <button class="button">Logout</button>
        </form>

        <form action="hodiny">
            <button class="button">hodiny</button>
        </form>

        <form action="sklad">
            <button class="button">Sklad</button>
        </form>
        <% if(level >= 3 ){ %> 
        <form action="create_user">
            <button class="button">Create new user</button>
        </form>
        <form action="rmuser">
            <button class="button">Remove user</button>
        </form>
        <form action="hodiny_master">
            <button class="button">Hodiny Master</button>
        </form>
        <% } %> 
    </body>

</html>

<script>

</script>


<style>
    .button{
        border-color: black;
        color: Black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
</style>