<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Home</title>

    </head>
        <p> Hello <%=user%> </p>
        
        <form action="logout">
            <button class="button">Logout</button>
        </form>

        <form action="hodiny">
            <button class="button">hodiny</button>
        </form>

        <form action="sklad">
            <button class="button">Sklad</button>
        </form>

</html>

<script>

</script>


<style>
    .button{
        border-color: black;
        color: Black;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
</style>