<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Remove user</title>
        <div id="mydiv" data-test=<%- JSON.stringify(data) %>></div>

        <script>
            var xhttp = new XMLHttpRequest();

            function req_send(user){
                xhttp.open("POST", "/rm_user", true)
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    document.getElementById("debug").innerHTML = "success, removed: "
                    window.location.reload()
                    }
                };
                xhttp.send(JSON.stringify({user: user}))
            }


            function load(){
                

                try{
                    var table_html = ""
                    var data = document.getElementById('mydiv').dataset.test
                    
                    var json_data = JSON.parse(data.toString())
                    var json_len = Object.keys(json_data).length
                    var table = document.getElementById('table')
                    var rIndex
                    for(var i = 0; i <= json_len - 1; i++)
                    {
                        table_html += "<tr>"
                        table_html += "<th>" + json_data[i].username + "</th>"
                        table_html += "</tr>"
                    }
        
                    table.innerHTML = table_html
        
                    for(var i = 1; i < table.rows.length; i++)
                    {
                        table.rows[i].onclick = function()
                        {
                            req_send(this.cells[0].innerHTML.toString())
                            //document.getElementById("debug").innerHTML = this.cells[0].innerHTML

                        };
                    }
                }
        
                catch (error) {
                    console.log(error)
                }
            }
        
            
        </script>

        
    </head>
    <body onload="load()">
        <H1 id="debug">work in progress</H1>
        <br>
        <br>
        <table id="table">
      
        </table>
    </body>
</html>

